
 /* Custom animation for the image */
 @keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.animate-fade-in {
    animation: fade-in 2.5s ease-in-out forwards;
}

/* Arrow Buttons */
#prevArrow,
#nextArrow {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#prevArrow:hover,
#nextArrow:hover {
  transform: scale(1.1);
}




/* Zoom-in effect for project images */
#projects img {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

#projects img:hover {
  transform: scale(1.1); /* Zoom in */
}

#seeMoreButton {
  position: relative;
  z-index: 10; /* Ensure it's above other elements */
}
.hidden {
  display: none;
}

#hiddenProjects {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#hiddenProjects:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}


/* themes */
body.light {
  background: #ffffff; /* Light background */
  color: #333; /* Dark text */
  --tags-color : rgb(93, 92, 92);
  --opacity : 0.08;

  --about-text-color: #000000;
  --borderLine-filter: invert(1) brightness(0);

  --project-color: #000000;
  --border-color : #000000;
  --live-text-color : #000000;
  --see-more-button-color: #000000;

  --resume-color: #000000;

  --contact-text-color: #000000;
  --label-color: #000000;
  --bg-color : #e3e3e3;
  --text-color : black;

  --connect-text-color: #333;
}

body.dark {
  background: #000000; /* Dark background */
  color: #f0f0f0; /* Light text */
  --tags-color : white;
  --opacity : 0.15;

  --about-text-color: #ffffff;

  --project-color: #ffffff;
    --border-color : #ffffff;
  --live-text-color : #ffffff;
  --see-more-button-color: #ffffff;

  --resume-color: #ffffff;

  --contact-text-color: #ffffff;
  --label-color: #ffffff;
   --bg-color : #201f1f;
   --text-color : rgb(255, 255, 255);

  --connect-text-color: #ffffff;
}