
 /* Custom animation for the image */
 @keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.animate-fade-in {
    animation: fade-in 2.5s ease-in-out forwards;
}

/* Arrow Buttons */
#prevArrow,
#nextArrow {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#prevArrow:hover,
#nextArrow:hover {
  transform: scale(1.1);
}




/* Zoom-in effect for project images */
#projects img {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

#projects img:hover {
  transform: scale(1.1); /* Zoom in */
}

#seeMoreButton {
  position: relative;
  z-index: 10; /* Ensure it's above other elements */
}
.hidden {
  display: none;
}

#hiddenProjects {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#hiddenProjects:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}


